PORT=your_port
MONGODB_URI=mongodb+srv://sarthakborekarcr7s_db_user:db_password@cluster0.hcjt2j2.mongodb.net
CORS_ORIGIN= *
ACCESS_TOKEN_SECRET=ABCD
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=EFGH
REFRESH_TOKEN_EXPIRY=10d